body {
  background-image: url(https://imgs.search.brave.com/CKySheLsXy8e1ugCLkrEIqnNnXpqgWYbeLr4huUqsz8/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Z/b3RKTE1DdC1kOXFa/Y3JSVFI1eFBnSGFI/YSZwaWQ9QXBp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

 
  
  color: aliceblue;
}
header {
  text-align: center;
  color: beige;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#survey-form {
  background-color: rgb(107, 46, 164);
  max-width: 500px;
  height: auto;
  margin: 50px auto;
  border: 1px solid black;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden
}
label {
  display: block;
  color: rgb(241, 219, 13);
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="radio"]
input[type="checkbox"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid black;
}
textarea {
  resize: none;
}
button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}