body {
  background-image: url(https://imgs.search.brave.com/CKySheLsXy8e1ugCLkrEIqnNnXpqgWYbeLr4huUqsz8/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Z/b3RKTE1DdC1kOXFa/Y3JSVFI1eFBnSGFI/YSZwaWQ9QXBp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: aliceblue;
}
